@import "../../assets/sass/variables.scss";

.list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.item {
  cursor: pointer;
}
.item--active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 16, 15);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.link {
  text-decoration: none;
  color: black;
  font: 0.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.item--active .link {
  color: rgb(179, 179, 179);
}
.img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
