@import "../../assets/sass/variables.scss";

.pagination {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}
.list {
  @include flexCenter;
  margin-top: 1.8rem;
  gap: 1.5rem;
  @media (width <= $rd-mobile) {
    gap: 0.5rem;
  }
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.item--active {
  @extend .item;
  background-color: $c-cyan;
}
.link {
  text-decoration: none;
  color: $c-veryDarkCyan;
  font: 0.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.item--active .link {
  color: $c-white;
}
.img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
