@import "../../assets/sass/variables.scss";

.section {
  max-width: 50rem;
  margin: 0 auto;
}
.heading {
  font-size: $fs-heading-medium;
  font-weight: $fw-bold;
  color: $c-veryDarkCyan;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1.2rem 0;
}
