@import "../../assets/sass/variables.scss";
.card {
  @include cardTemplate;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.card:last-child {
  margin-bottom: 0;
}
.card:hover {
  scale: 1.015;
  border: 1px solid $c-veryDarkCyan;
  border: 1px solid $c-cyan;
}
.wrapper {
  @include flexCenter;
}
.information {
  text-align: center;
  // width: min-content;
  padding: 0.3rem 0.5rem;
  color: $c-cyan;
  font-size: $fs-heading-small;
  background-color: $c-lightCyan;
  border-radius: 0.3rem;
}

.card:hover .information {
  color: white;
  background-color: $c-cyan;
}
