@import "../../assets/sass/variables.scss";

.header {
  @include flexCenter;
  position: relative;
  z-index: 10;
  background-color: $c-cyan;
  padding: 1.8rem 5rem;
  opacity: 0.8;
  @media (width <= $rd-mobile) {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.logo {
  @include flexCenter;
  font-size: $fs-heading-medium;
  color: $c-white;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $fw-bold;
  @media (width <= $rd-mobile) {
    margin: 25px 0 15px;
  }
}
.checkbox {
  margin-left: auto;
  @media (width <= $rd-mobile) {
    display: none;
  }
}
.selects-wrapper {
  display: flex;
}

.btn-checkbox-wrapper {
  @include flexCenter;
}
.checkbox-rd {
  display: none;
  @media (width <= $rd-mobile) {
    display: block;
  }
}
.clear-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  & a {
    text-decoration: none;
    color: $c-white;
    transition: color 0.2s ease-in-out;
  }
  & a:hover {
    color: $c-veryDarkCyan;
  }
}
