@import "../../assets/sass/variables.scss";

.header {
  display: flex;
  position: relative;
  z-index: 10;
  background-color: $c-cyan;
  padding: 1.8rem 5rem;
  opacity: 0.8;
}
.logo {
  @include flexCenter;
  font-size: $fs-heading-medium;
  color: $c-white;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $fw-bold;
}

.clear-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  & a {
    text-decoration: none;
    color: $c-white;
    transition: color 0.2s ease-in-out;
  }
  & a:hover {
    color: $c-veryDarkCyan;
  }
}
