// color
$c-cyan: hsl(180, 29%, 50%);
$c-lightCyan: hsl(180, 52%, 96%);
$c-darkCyan: hsl(180, 8%, 52%);
$c-veryDarkCyan: hsl(180, 14%, 20%);
$c-white: hsl(0, 0%, 100%);
$c-green: hsl(124, 9%, 67%);
$c-darGreen: hsl(103, 18%, 30%);
$c-brown: hsl(31, 20%, 70%);
$c-yellow: hsl(40, 66%, 82%);

/*font family*/
$ff-primary: "League Spartan", sans-serif;

/*font-size*/
$fs-logo: 3rem;
$fs-heading-large: 2.5rem;
$fs-heading-medium: 2rem;
$fs-heading-small: 1.4rem;
$fs-text: 1rem;
$fs-sup: 0.6rem;

/*font weight*/
$fw-regular: 500;
$fw-bold: 700;

/* responsive */
$rd-mobile: 768px;
