// color
$c-darkCyan: hsl(180, 29%, 50%);
$c-lightCyan: hsl(180, 52%, 96%);
$c-darkCyan: hsl(180, 8%, 52%);
$c-veryDarkCyan: hsl(180, 14%, 20%);
$c-white: hsl(0, 0%, 100%);

/*font family*/
$ff-primary: "League Spartan", sans-serif;

/*font-size*/
$fs-logo: 3rem;
$fs-heading-large: 2.5rem;
$fs-heading-meddium: 2rem;
$fs-heading-small: 1.4rem;
$fs-text: 1rem;

/*font weight*/
$fw-regular: 500;
$fw-bold: 700;

/* responsive */
$rd-mobile: 768px;
